.owner_dashboard{
    padding: 5px;
    width: 100%;
  }

  .owner_dashboard p{
    font-size: 0.95rem;
  }
  
  .owner_dashboard .main_box{
      box-shadow: 0 0 5px 2px;
      border-radius: 2rem;
      width: 90%;
      min-height: 80%;
      height: 77vh;
      margin: auto auto;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .owner_dashboard .container1{
      height: 100%;
      width: 100%;
      margin-top: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }
  
  .owner_dashboard .container2{
      width: 25%;
      height: 90%;
      box-shadow: 0 0 5px ;
      border-radius: 2rem;
      padding: 1rem;
      overflow-y: auto;
  }
  
  .owner_dashboard h3{
    margin-bottom: 0.5rem;
  }
  
  .owner_dashboard .container3{
      width: 100%;
      height: 49%;
  }
  
  .owner_dashboard .form{
      margin-bottom: 1rem;
  }
  
  .owner_dashboard .event_container{
      cursor: pointer;
      padding: 10px;
      border-radius: 5px;
      border-bottom: 2px solid;
  }
  
  .owner_dashboard .ap_container{
      padding: 10px;
      border-radius: 5px;
      border-bottom: 2px solid;
      display: flex;
      flex-direction: column;
      row-gap: 2px;
  }
  
  .owner_dashboard .ap_container a.button{
    text-decoration: none;
    text-align: center;
    padding: 5px;
    font-size: 1rem;
    font-weight: 1000;
    border-style: none;
    color: black;
    box-shadow: 0 0 5px 2px black;
    padding: 2px;
    margin: 0 5px;
    border-radius: 0.5rem;
  }
  
  .owner_dashboard .overflow_container{
      width: 100%;
      height: 85%;
      overflow: auto;
  }
  
  
  .owner_dashboard .main_box .form .input_root {
      margin-bottom: 1rem;
    }
    
    .owner_dashboard .main_box .form .input {
      margin-bottom: 0rem;
      display: flex;
      justify-content: space-between;
    }
    
    .owner_dashboard .main_box .form .input label {
      margin-right: 0.5rem;
      width: 30%;
      text-align: center;
    }

    .owner_dashboard .main_box .form .input.daymonth_class {
      flex-direction: row-reverse;
    }

  
    .owner_dashboard .main_box .form .input label[for="access_record"]{
      width: fit-content;
    }
  
    .owner_dashboard .main_box .form .input input#access_record{
      width: 2rem;
    }
    
    .owner_dashboard .main_box .form .input input {
      font-size: 1rem;
      padding: 2px;
      width: 100%;
      border-radius: 5px;
    }
  
    .owner_dashboard .main_box .form .input select {
      font-size: 1rem;
      width: 100%;
      padding: 2px;
      border-radius: 5px;
    }
    
    .owner_dashboard .main_box .form .input .location_lable{
      width: 25%;
    }
    .owner_dashboard .main_box .form .input .slot_lable{
     text-align: left;
    }
    
    .owner_dashboard .main_box .form .input_root.button {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
    }
    
    .owner_dashboard .main_box .form .input_root.button .button {
      padding: 5px;
      font-size: 1rem;
      font-weight: 1000;
      border-style: none;
      color: black;
      box-shadow: 0 0 5px 2px black;
      padding: 3px;
      border-radius: 0.5rem;
    }
    
    .owner_dashboard .main_box .form .input_root .error {
      font-size: 0.75rem;
      color: red;
    }